@import "../../global.scss";


.menu{
    width: 300px;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    ul{
        margin: 0;
        padding: 0;
        font-size: 30px;
        color: white;
        font-weight: 300;
        width: 40%;

        li{
            margin-bottom: 30px;
            // transition:all 1s ease;

            &:hover{
                font-weight: 500;
                // transition: all 1s ease;
            }
        }
    }

    &.active{
        right: 0;
    }
}